
.env


__pycache__/
*.py[cod]
*$py.class


data/raw/


outputs/
!outputs/baseline/
!outputs/consistency/
!outputs/faithfulness/
!outputs/metrics/
!outputs/remove_debug/
work/


*.bak
*.bak_*

# 忽略本地生成的各种图表 (如果不打算把生成的图共享上去，取消注释下面这行)
# fig/